<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=domain.title%></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Web Fonts -->
    <!--<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->

    <!-- CSS Files -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/fav-144.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/fav-114.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/fav-72.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="images/fav-57.png">-->
    <!--<link rel="shortcut icon" href="images/fav.png">-->
</head>
<body>
<!-- Header Section Starts -->
<header id="header-area">
    <!-- Header Top Starts -->
    <div class="header-top hidden-sm hidden-xs">
        <div class="container">
            <%if(user!==null){%>
            <div class="col-sm-12 col-xs-12">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="/userInfo">
                            <span>
                                <%if(user.headimgurl){%>
                                <img src="<%=user.headimgurl?user.headimgurl:'http://images.meitrip.net/54912ac9f5632b1b9de40720.jpg'%>" alt="头像" class="img-circle" style="width: 19px;height: 19px; ">
                                <%}%>
                                <%=user.mobile%>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <span>
                                注销
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <%} else {%>
            <div class="col-sm-12 col-xs-12">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="/login">
                            <i class="fa fa-unlock" title="Register"></i>
                            <span>
                                登录/注册
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <%}%>
            <!-- Currency & Languages Ends -->
        </div>
    </div>
    <!-- Header Top Ends -->
    <!-- Starts -->
    <div class="container">
        <!-- Main Header Starts -->
        <div class="main-header hidden-sm hidden-xs">
            <div class="row">
                <!-- Logo Starts -->
                <div class="col-md-6 hidden-sm hidden-xs">
                    <div id="logo">
                        <a href="/"><img src="<%=domain.logo%>" title="logo" alt="logo" class="img-responsive" /></a>
                    </div>
                </div>
                <!-- Logo Starts -->
                <!-- Search Starts -->
                <div class="col-md-6">
                    <div id="search">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="查询">
                              <span class="input-group-btn">
                                <button class="btn btn-lg" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                              </span>
                        </div>
                    </div>
                </div>
                <!-- Search Ends -->
            </div>
        </div>
        <!-- Main Header Ends -->
        <!-- Main Menu Starts -->
        <nav id="main-menu" class="navbar" role="navigation">
            <!-- Nav Header Starts -->
            <div class="navbar-header">
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- Nav Header Ends -->
            <!-- Navbar Cat collapse Starts -->
            <div class="collapse navbar-collapse navbar-cat-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <%domain.classify.forEach(function(c){%>
                    <li><a href="/category/<%=c._id%>"><%=c.name%></a></li>
                    <%});%>
                    <li><a href="/category/default">所有产品</a></li>
                </ul>
            </div>
            <!-- Navbar Cat collapse Ends -->
        </nav>
        <!-- Main Menu Ends -->
    </div>
    <!-- Ends -->
</header>
<!-- Header Section Ends -->