<%include header%>
<!-- Slider Section Starts -->
<div class="slider">
    <div class="container">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper For Slides Starts -->
            <div class="carousel-inner">
                <%for(var i in recommend){%>
                <%if(i==0){%>
                <div class="item active">
                    <a href="/product/<%=recommend[i]._id%>">
                    <img src="<%=recommend[i].images.length>0?recommend[i].images[0].url:''%>" alt="<%=recommend[i].name%>" width="1170" class="img-responsive" />
                    </a>
                </div>
                <%} else {%>
                <div class="item">
                    <a href="/product/<%=recommend[i]._id%>">
                    <img src="<%=recommend[i].images.length>0?recommend[i].images[0].url:''%>" alt="<%=recommend[i].name%>" width="1170" class="img-responsive" />
                    </a>
                </div>
                <%}%>
                <%}%>


            </div>
            <!-- Wrapper For Slides Ends -->
            <!-- Controls Starts -->
            <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <!-- Controls Ends -->
        </div>
    </div>
</div>
<!-- Slider Section Ends -->
<!-- 3 Column Banners Starts -->
<!--<div class="col3-banners">-->
    <!--<div class="container">-->
        <!--<ul class="row list-unstyled">-->
            <!--<li class="col-sm-4">-->
                <!--<img src="images/banners/3col-banner1.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
            <!--<li class="col-sm-4">-->
                <!--<img src="images/banners/3col-banner2.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
            <!--<li class="col-sm-4">-->
                <!--<img src="images/banners/3col-banner3.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!-- 3 Column Banners Ends -->
<!-- Latest Products Starts -->
<section class="products-list">
    <div class="container">
        <!-- Heading Starts -->
        <h2 class="product-head">热门推荐</h2>
        <!-- Heading Ends -->
        <!-- Products Row Starts -->
        <div class="row">
            <%hot.forEach(function(product){%>
            <!-- Product #1 Starts -->
            <div class="col-md-3 col-sm-6">

                <div class="product-col">
                    <div class="image">
                        <a href="/product/<%=product._id%>">
                        <img src="<%=product.images.length>0?product.images[0].url:''%>" alt="product" class="img-responsive" />
                        </a>
                    </div>
                    <div class="caption">
                        <h4><a href="/product/<%=product._id%>"><%=product.name%></a></h4>
                        <div class="description">
                            <%=product.introduction.substr(0,35)+"..."%>
                        </div>
                        <div class="price">
                            <span class="price-new">￥<%=product.price%></span>
                        </div>
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--购买-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <!-- Product #1 Ends -->
            <%});%>
        </div>
        <!-- Products Row Ends -->
    </div>
</section>
<!-- Latest Products Ends -->
<!-- 2 Column Banners Starts -->
<!--<div class="col2-banners">-->
    <!--<div class="container">-->
        <!--<ul class="row list-unstyled">-->
            <!--<li class="col-sm-4">-->
                <!--<img src="images/banners/2col-banner1.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
            <!--<li class="col-sm-8">-->
                <!--<img src="images/banners/2col-banner2.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!-- 2 Column Banners Ends -->
<!-- Specials Products Starts -->
<!--<section class="products-list">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash; Heading Starts &ndash;&gt;-->
        <!--<h2 class="product-head">Specials Products</h2>-->
        <!--&lt;!&ndash; Heading Ends &ndash;&gt;-->
        <!--&lt;!&ndash; Products Row Starts &ndash;&gt;-->
        <!--<div class="row">-->
            <!--&lt;!&ndash; Product #1 Starts &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="product-col">-->
                    <!--<div class="image">-->
                        <!--<img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />-->
                    <!--</div>-->
                    <!--<div class="caption">-->
                        <!--<h4>-->
                            <!--<a href="product-full.html">Simply Organic Seeds</a>-->
                        <!--</h4>-->
                        <!--<div class="description">-->
                            <!--We are so lucky living in such a wonderful time. Our almost unlimited ...-->
                        <!--</div>-->
                        <!--<div class="price">-->
                            <!--<span class="price-new">$199.50</span>-->
                            <!--<span class="price-old">$249.50</span>-->
                        <!--</div>-->
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--Add to cart-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Product #1 Ends &ndash;&gt;-->
            <!--&lt;!&ndash; Product #2 Starts &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="product-col">-->
                    <!--<div class="image">-->
                        <!--<img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />-->
                    <!--</div>-->
                    <!--<div class="caption">-->
                        <!--<h4>-->
                            <!--<a href="product-full.html">Simply Organic Seeds</a>-->
                        <!--</h4>-->
                        <!--<div class="description">-->
                            <!--We are so lucky living in such a wonderful time. Our almost unlimited ...-->
                        <!--</div>-->
                        <!--<div class="price">-->
                            <!--<span class="price-new">$199.50</span>-->
                            <!--<span class="price-old">$249.50</span>-->
                        <!--</div>-->
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--Add to cart-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Product #2 Ends &ndash;&gt;-->
            <!--&lt;!&ndash; Product #3 Starts &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="product-col">-->
                    <!--<div class="image">-->
                        <!--<img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />-->
                    <!--</div>-->
                    <!--<div class="caption">-->
                        <!--<h4>-->
                            <!--<a href="product-full.html">Simply Organic Seeds</a>-->
                        <!--</h4>-->
                        <!--<div class="description">-->
                            <!--We are so lucky living in such a wonderful time. Our almost unlimited ...-->
                        <!--</div>-->
                        <!--<div class="price">-->
                            <!--<span class="price-new">$199.50</span>-->
                            <!--<span class="price-old">$249.50</span>-->
                        <!--</div>-->
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--Add to cart-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Product #3 Ends &ndash;&gt;-->
            <!--&lt;!&ndash; Product #4 Starts &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="product-col">-->
                    <!--<div class="image">-->
                        <!--<img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />-->
                    <!--</div>-->
                    <!--<div class="caption">-->
                        <!--<h4>-->
                            <!--<a href="product-full.html">Simply Organic Seeds</a>-->
                        <!--</h4>-->
                        <!--<div class="description">-->
                            <!--We are so lucky living in such a wonderful time. Our almost unlimited ...-->
                        <!--</div>-->
                        <!--<div class="price">-->
                            <!--<span class="price-new">$199.50</span>-->
                            <!--<span class="price-old">$249.50</span>-->
                        <!--</div>-->
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--Add to cart-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Product #4 Ends &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; Products Row Ends &ndash;&gt;-->
    <!--</div>-->
<!--</section>-->
<!-- Specials Products Ends -->
<%include footer%>