<%include header%>
<!-- Main Container Starts -->
<div id="main-container" class="container">
    <!-- Breadcrumb Starts -->
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li><a href="/myOrders">我的订单</a></li>
        <li class="active">订单详情</li>
    </ol>
    <!-- Breadcrumb Ends -->

    <!-- Registration Section Starts -->
    <section class="registration-area">
        <div class="row">
            <div class="col-sm-12">
                <!-- Registration Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">订单号:<%=order.orderID%></h3>
                        <input type="hidden" value="<%=order._id%>" id="order_id" />
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" id="payForm" action="/orderPay" method="post">
                            <input type="hidden" name="orderID" value="<%=order.orderID%>">
                            <input type="hidden" name="oid" value="<%=order._id%>">
                            <input type="hidden" name="totalPrice" value="<%=order.totalPrice%>">
                            <input type="hidden" name="productName" value="<%=order.product.name%>">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">产品名称:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static"><%=order.product.name%></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">预订日期:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static"><%=new Date(order.orderDate).Format('yyyy-MM-dd hh:mm:ss')%></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">预订数量:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static"><%=order.quantity%></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">使用日期:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static"><%=new Date(order.startDate).Format('yyyy-MM-dd')%></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系人:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static"><%=order.liveName%></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系电话:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static"><%=order.contactPhone%></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">订单状态:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static"><%=orderStatus[order.status]%></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">总金额:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">￥<%=order.totalPrice%></p>
                                </div>
                            </div>
                            <div class="form-group  <%=order.status==0?'':'hidden'%>">
                                <label class="col-sm-2 control-label">支付方式:</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="payway" value="3" <%=order.payWay==3?'checked':''%>>
                                            <img src="/images/zfb.png" alt="支付宝" class="img-responsive" />
                                        </label>
                                    </div>
                                    <div class="radio <%=isWeixin?'':'hidden'%>">
                                        <label>
                                            <input type="radio" name="payway" value="4" <%=order.payWay==4?'checked':''%>>
                                            <img src="/images/wx.png" alt="微信支付" class="img-responsive" />
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="payway" id="accountPay" value="2" <%=order.payWay==2?'checked':''%>>
                                            账户内支付
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" id="btn_cancel" class="btn btn-danger <%=order.status==0?'':'hidden'%>">
                                        取消
                                    </button>
                                    <button type="button" id="btn_pay" class="btn btn-primary <%=order.status==0?'':'hidden'%>">
                                        付款
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Registration Block Ends -->
            </div>

        </div>
    </section>
    <!-- Registration Section Ends -->
</div>
<!-- Main Container Ends -->

<!-- Modal Pay Start-->
<div class="modal fade" id="modal_pay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">账户内支付</h4>
            </div>
            <div class="modal-body">
                账户余额:￥<%=user.cardBalance%><br/>
                支付金额:￥<%=order.totalPrice%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btn_cardPay">支付</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Pay End-->

<!-- Modal Pay Result Start-->
<!--<div class="modal fade" id="modal_payresult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <!--<h4 class="modal-title" id="myModalLabel">支付结果</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--是否支付完成？-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">支付未完成</button>-->
                <!--<button type="button" class="btn btn-default" id="btn_payed">支付已完成</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- Modal Pay Result End-->

<!-- Modal Cancel Start-->
<div class="modal fade" id="modal_cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">订单取消</h4>
            </div>
            <div class="modal-body">
                是否取消订单 <span id="orderID"><%=order.orderID%></span> <span id="orderName"><%=order.product.name%></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btn_cancel_confirm">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Cancel End-->
<%include footer%>
<script>
    $(function(){
        var payway = <%=order.payWay%>;
        if(payway==2){
            $('#modal_pay').modal('show');
        }

        $('#btn_pay').click(function(){
            if($('#accountPay').attr('checked')){
                $('#modal_pay').modal('show');
            } else {
                $("#btn_cardPay").attr('disabled','disabled');
                $('#payForm').submit();
//                location.reload();
            }
        });
        $('#btn_cancel').click(function(){
            $('#modal_cancel').modal('show');
        });

        $('#btn_cardPay').click(function(){
            $.ajax({
                'url':'/ajax/order/cardPay',
                'method':'POST',
                'data':{
                    'id':$('#order_id').val()
                }
            }).done(function(data){
                if(data.error==0){
                    location.href='/orderDetails/<%=order._id%>';
                } else {
                    alert(data.errMsg);
                }
            });
        });

        $('#btn_cancel_confirm').click(function(){
            $.ajax({
                'url':'/ajax/order/cancel',
                'method':'POST',
                'data':{
                    'id':$('#order_id').val()
                }
            }).done(function(data){
                location.reload();
            });
        });
    });
</script>