<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=domain.title%></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Web Fonts -->
    <!--<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->

    <!-- CSS Files -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/fav-144.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/fav-114.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/fav-72.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="images/fav-57.png">-->
    <!--<link rel="shortcut icon" href="images/fav.png">-->
</head>
<body>
<!-- Header Section Starts -->
<header id="header-area">
        <!-- Main Menu Starts -->
        <nav id="main-menu" class="navbar" role="navigation">
            <!-- Nav Header Starts -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#"><img src="<%=domain.logo%>" title="logo" alt="logo" class="img-responsive" style="height: 35px;" /></a>
                </div>
                <!-- Nav Header Ends -->
                <!-- Navbar Cat collapse Starts -->
                <div class="collapse navbar-collapse navbar-cat-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">首页</a></li>
                        <%domain.classify.forEach(function(c){%>
                        <li><a href="/category/<%=c._id%>"><%=c.name%></a></li>
                        <%});%>
                        <li><a href="/category/default">所有产品</a></li>
                        <li><a href="/news">新闻资讯</a></li>
                    </ul>
                </div>
            </div>

            <!-- Navbar Cat collapse Ends -->
        </nav>
        <!-- Main Menu Ends -->
    </div>
    <!-- Ends -->
</header>
<!-- Header Section Ends -->
<!-- Slider Section Starts -->
<div class="slider">
    <div class="container">
        <%if(recommend.length>0){%>
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper For Slides Starts -->
            <div class="carousel-inner">
                <%for(var i in recommend){%>
                <%if(i==0){%>
                <div class="item active">
                    <a href="/product/<%=recommend[i]._id%>">
                        <img src="<%=recommend[i].images.length>0?recommend[i].images[0].url:''%>!silde" alt="<%=recommend[i].name%>" class="img-responsive" />
                    </a>
                </div>
                <%} else {%>
                <div class="item">
                    <a href="/product/<%=recommend[i]._id%>">
                        <img src="<%=recommend[i].images.length>0?recommend[i].images[0].url:''%>!silde" alt="<%=recommend[i].name%>" class="img-responsive" />
                    </a>
                </div>
                <%}%>
                <%}%>
            </div>
            <!-- Wrapper For Slides Ends -->
            <!-- Controls Starts -->
            <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <!-- Controls Ends -->
        </div>
        <%}%>
    </div>
</div>
<!-- Slider Section Ends -->
<!-- 3 Column Banners Starts -->
<!--<div class="col3-banners">-->
    <!--<div class="container">-->
        <!--<ul class="row list-unstyled">-->
            <!--<li class="col-sm-4">-->
                <!--<img src="images/banners/3col-banner1.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
            <!--<li class="col-sm-4">-->
                <!--<img src="images/banners/3col-banner2.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
            <!--<li class="col-sm-4">-->
                <!--<img src="images/banners/3col-banner3.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!-- 3 Column Banners Ends -->
<!-- Latest Products Starts -->
<section class="products-list">
    <div class="container">
        <!-- Heading Starts -->
        <h2 class="product-head">热门推荐</h2>
        <!-- Heading Ends -->
        <!-- Products Row Starts -->
        <div class="row">
            <%hot.forEach(function(product){%>
            <!-- Product #1 Starts -->
            <div class="col-md-3 col-sm-6">

                <div class="product-col">
                    <div class="image">
                        <a href="/product/<%=product._id%>">
                        <img src="<%=product.images.length>0?product.images[0].url:''%>" alt="product" class="img-responsive" />
                        </a>
                    </div>
                    <div class="caption">
                        <h4><a href="/product/<%=product._id%>"><%=product.name%></a></h4>
                        <div class="description">
                            <%=product.introduction.substr(0,35)+"..."%>
                        </div>
                        <div class="price">
                            <span class="price-new">￥<%=product.price%></span>
                        </div>
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--购买-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <!-- Product #1 Ends -->
            <%});%>
        </div>
        <!-- Products Row Ends -->
    </div>
</section>
<!-- Latest Products Ends -->
<!-- 2 Column Banners Starts -->
<!--<div class="col2-banners">-->
    <!--<div class="container">-->
        <!--<ul class="row list-unstyled">-->
            <!--<li class="col-sm-4">-->
                <!--<img src="images/banners/2col-banner1.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
            <!--<li class="col-sm-8">-->
                <!--<img src="images/banners/2col-banner2.jpg" alt="banners" class="img-responsive" />-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!-- 2 Column Banners Ends -->
<!-- Specials Products Starts -->
<!--<section class="products-list">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash; Heading Starts &ndash;&gt;-->
        <!--<h2 class="product-head">Specials Products</h2>-->
        <!--&lt;!&ndash; Heading Ends &ndash;&gt;-->
        <!--&lt;!&ndash; Products Row Starts &ndash;&gt;-->
        <!--<div class="row">-->
            <!--&lt;!&ndash; Product #1 Starts &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="product-col">-->
                    <!--<div class="image">-->
                        <!--<img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />-->
                    <!--</div>-->
                    <!--<div class="caption">-->
                        <!--<h4>-->
                            <!--<a href="product-full.html">Simply Organic Seeds</a>-->
                        <!--</h4>-->
                        <!--<div class="description">-->
                            <!--We are so lucky living in such a wonderful time. Our almost unlimited ...-->
                        <!--</div>-->
                        <!--<div class="price">-->
                            <!--<span class="price-new">$199.50</span>-->
                            <!--<span class="price-old">$249.50</span>-->
                        <!--</div>-->
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--Add to cart-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Product #1 Ends &ndash;&gt;-->
            <!--&lt;!&ndash; Product #2 Starts &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="product-col">-->
                    <!--<div class="image">-->
                        <!--<img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />-->
                    <!--</div>-->
                    <!--<div class="caption">-->
                        <!--<h4>-->
                            <!--<a href="product-full.html">Simply Organic Seeds</a>-->
                        <!--</h4>-->
                        <!--<div class="description">-->
                            <!--We are so lucky living in such a wonderful time. Our almost unlimited ...-->
                        <!--</div>-->
                        <!--<div class="price">-->
                            <!--<span class="price-new">$199.50</span>-->
                            <!--<span class="price-old">$249.50</span>-->
                        <!--</div>-->
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--Add to cart-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Product #2 Ends &ndash;&gt;-->
            <!--&lt;!&ndash; Product #3 Starts &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="product-col">-->
                    <!--<div class="image">-->
                        <!--<img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />-->
                    <!--</div>-->
                    <!--<div class="caption">-->
                        <!--<h4>-->
                            <!--<a href="product-full.html">Simply Organic Seeds</a>-->
                        <!--</h4>-->
                        <!--<div class="description">-->
                            <!--We are so lucky living in such a wonderful time. Our almost unlimited ...-->
                        <!--</div>-->
                        <!--<div class="price">-->
                            <!--<span class="price-new">$199.50</span>-->
                            <!--<span class="price-old">$249.50</span>-->
                        <!--</div>-->
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--Add to cart-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Product #3 Ends &ndash;&gt;-->
            <!--&lt;!&ndash; Product #4 Starts &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="product-col">-->
                    <!--<div class="image">-->
                        <!--<img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />-->
                    <!--</div>-->
                    <!--<div class="caption">-->
                        <!--<h4>-->
                            <!--<a href="product-full.html">Simply Organic Seeds</a>-->
                        <!--</h4>-->
                        <!--<div class="description">-->
                            <!--We are so lucky living in such a wonderful time. Our almost unlimited ...-->
                        <!--</div>-->
                        <!--<div class="price">-->
                            <!--<span class="price-new">$199.50</span>-->
                            <!--<span class="price-old">$249.50</span>-->
                        <!--</div>-->
                        <!--<div class="cart-button button-group">-->
                            <!--<button type="button" title="Wishlist" class="btn btn-wishlist">-->
                                <!--<i class="fa fa-heart"></i>-->
                            <!--</button>-->
                            <!--<button type="button" title="Compare" class="btn btn-compare">-->
                                <!--<i class="fa fa-bar-chart-o"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-cart">-->
                                <!--Add to cart-->
                                <!--<i class="fa fa-shopping-cart"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Product #4 Ends &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; Products Row Ends &ndash;&gt;-->
    <!--</div>-->
<!--</section>-->
<!-- Specials Products Ends -->
<!-- Footer Section Starts -->
<footer id="footer-area">
    <!-- Footer Links Starts -->
    <div class="footer-links">
        <!-- Container Starts -->
        <div class="container">
            <!-- Information Links Starts -->
            <!--<div class="col-md-2 col-sm-6">-->
            <!--<h5>相关信息</h5>-->
            <!--<ul>-->
            <!--<li><a href="about.html">关于我们</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!-- Information Links Ends -->
            <!-- My Account Links Starts -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h5>我的账户</h5>
                <ul>
                    <li><a href="/myOrders">我的订单</a></li>
                    <li><a href="/coupons">我的优惠券</a></li>
                    <li><a href="/userInfo">个人信息</a></li>
                </ul>
            </div>
            <!-- My Account Links Ends -->
            <!-- Customer Service Links Starts -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h5>服务</h5>
                <ul>
                    <li><a href="/contact">联系我们</a></li>
                </ul>
            </div>
            <!-- Customer Service Links Ends -->

            <!-- Contact Us Starts -->
            <div class="col-md-4 hidden-sm hidden-xs last">
                <h5>联系我们</h5>
                <ul>
                    <li><%=domain.title%></li>
                    <li>
                        <%=domain.address%>
                    </li>
                    <li>
                        邮箱: <a href="mailto:<%=domain.email%>"><%=domain.email%></a>
                    </li>
                </ul>
                <h4 class="lead">
                    电话: <span><%=domain.tel%></span>
                </h4>
            </div>
            <!-- Contact Us Ends -->

            <!-- Follow Us Links Starts -->
            <div class="col-md-2 hidden-sm hidden-xs">
                <h5>扫一扫</h5>
                <img src="<%=domain.qrCode%>" alt="微信号" class="img-responsive" />
            </div>
            <!-- Follow Us Links Ends -->
        </div>
        <!-- Container Ends -->
    </div>
    <!-- Footer Links Ends -->
    <!-- Copyright Area Starts -->
    <div class="copyright">
        <!-- Container Starts -->
        <div class="container">
            <!-- Starts -->
            <p>
                2014 <%=domain.title%> All Rights Reserved.苏ICP备14054295号</a>
            </p>
            <!-- Ends -->
        </div>
        <!-- Container Ends -->
    </div>
    <!-- Copyright Area Ends -->
</footer>
<!-- Footer Section Ends -->
<!-- JavaScript Files -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-hover-dropdown.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/custom.js"></script>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc6d84b7be621a560c430ca83888e843b' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>